/* custom forms styles */
.customForm-hidden {
	display: block !important;
	position: absolute !important;
	left:-9999px !important;
}
/* custom select styles */
.select-area {
	background:#fff;
	position: relative;
	margin:0 0 28px;
	height: 34px;
	width:auto !important;
	border:1px solid #ccc;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
.select-area .select-opener {
	position: absolute;
	z-index: 3;
	top: -1px;
	right: -1px;
	width: 26px;
	height: 34px;
	border:1px solid #ccc;
	-webkit-border-radius:0 4px 4px 0;
	-moz-border-radius:0 4px 4px 0;
	border-radius:0 4px 4px 0;
	background:#fff url(../images/arrow-08.png) no-repeat 50% 50%;
}
.select-area:hover .select-opener {
	background-color:#92b7b1;
	border-color:#adadad;
}
.select-area .left {
	display:none;
}
.select-area .center {
	white-space: nowrap;
	position: relative;
	font-size:14px;
	line-height:18px;
	cursor: default;
	display: block;
	padding: 7px 35px 7px 15px;
	color:#333;
	z-index: 2;
	overflow:hidden;
}
.select-area .center img {
	margin: 5px 5px 0 0;
	position: relative;
	float: left;
}
.options-overflow div.drop-list {
	overflow: auto;
}
.options-hidden {
	position: absolute !important;
	top: -9999px !important;
	left: -9999px !important;
}
.select-options {
	z-index: 3000;
	position: absolute;
	padding:1px 0 0;
}
.select-options .drop-holder {
	border: 1px solid #c7c7c7;
	height: 1%;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	background:#fff;
	padding:9px 0;
	-webkit-box-shadow:6px 9px 9px rgba(0, 0, 0, 0.13);
	-moz-box-shadow:6px 9px 9px rgba(0, 0, 0, 0.13);
	box-shadow:6px 9px 9px rgba(0, 0, 0, 0.13);
}
.select-options div.drop-list {
	width: 100%;
}
.select-options ul {
	overflow: hidden;
	list-style: none;
	width: 100%;
	padding: 0;
	margin: 0;
	font:14px/18px 'opensans-regular', Helvetica, sans-serif;
}
.select-options ul li {
	overflow: hidden;
	float: left;
	width: 100%;
}
.select-options ul a {
	text-decoration: none;
	cursor: default;
	color: #333;
	display: block;
	overflow: hidden;
	height: 1%;
	padding: 4px 15px;
}
.select-options ul a span {
	cursor: default;
	float: left;
}
.select-options .item-selected a {
	text-decoration: none;
	background: #92b7b1;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYyODhjOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1NjdjYmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #92b7b1 0%, #84A6A0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#92b7b1), color-stop(100%,#84A6A0));
	background: -webkit-linear-gradient(top,  #92b7b1 0%,#84A6A0 100%);
	background: -o-linear-gradient(top,  #92b7b1 0%,#84A6A0 100%);
	background: -ms-linear-gradient(top,  #92b7b1 0%,#84A6A0 100%);
	background: linear-gradient(to bottom,  #92b7b1 0%,#84A6A0 100%);
	color: #fff;
}
.select-options ul a:hover {
	text-decoration: none;
}
.select-options ul a:focus {
	outline: none;
}
.select-options .optgroup strong{
	cursor: default;
	display: block;
	width: 100%;
}
.select-options .optgroup strong em {
	display: block;
	padding: 5px;
	height: 1%;
}
.select-options .optgroup ul a {
	padding-left: 20px;
}
.select-options img {
	margin: 2px 3px 0 0;
	float: left;
	border: 0;
}
.select-focus .select-opener {
	background-color:#92b7b1;
	border-color:#adadad;
	-webkit-box-shadow:inset 0 3px 3px rgba(0, 0, 0, 0.18);
	-moz-box-shadow:inset 0 3px 3px rgba(0, 0, 0, 0.18);
	box-shadow:inset 0 3px 3px rgba(0, 0, 0, 0.18);
}
/* custom scroll styles */
.scrollable-area-wrapper {
	position: relative;
	overflow: hidden;
}
.scrollable-area-wrapper .vscrollbar {
	position: absolute;
	cursor: default;
	height: 100%;
	width: 7px;
	top: 0;
	right: 0;
	z-index: 100;
}
.scrollable-area-wrapper .scrollable-fake {
	overflow: hidden;
	position: relative;
}
.scrollable-area-wrapper .vscroll-up,
.scrollable-area-wrapper .vscroll-down {
	display:none;
}
.scrollable-area-wrapper .vscroll-line {
	position: relative;
	width: 100%;
}
.scrollable-area-wrapper .vscroll-down {
	background-position: -20px 0;
	top: auto;
	bottom: 0;
}
.scrollable-area-wrapper .vscroll-slider {
	background:#dfdfdf;
	position: absolute;
	overflow: hidden;
	width: 7px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
.scrollable-area-wrapper .scroll-bar-top,
.scrollable-area-wrapper .scroll-bar-bottom {
	display:none;
}
.scrollable-area-wrapper .scroll-bar-bottom {
	background-position: -20px 100%;
	top: auto;
	bottom: 0;
}
/* custom input type file */
.file-area {
	position: relative;
	line-height: 34px;
	overflow: hidden;
	float:none;
	clear: both;
	height: 34px;
	margin:0 0 27px;
}
.file-area .customForm-wrap {
	position: relative;
	overflow: hidden;
	height: 34px;
	width: 0;
	margin: 0 0 -34px;
	z-index: 100;
	font-size: 0;
	line-height: 0;
	float:left;
	width:100% !important;
}
.file-area .customForm-input-wrapper {
	position: relative;
	overflow: hidden;
	height: 34px;
	float: left;
}
.file-area .customForm-fake-input {
	-webkit-border-radius:4px 0 0 4px;
	-moz-border-radius:4px 0 0 4px;
	border-radius:4px 0 0 4px;
	height:34px;
	font-size:14px;
	line-height:18px;
	padding:8px 15px;
	color:#000;
	-webkit-box-shadow:inset 1px 1px 0 #f5f5f5;
	-moz-box-shadow:inset 1px 1px 0 #f5f5f5;
	box-shadow:inset 1px 1px 0 #f5f5f5;
	position:relative;
	white-space: nowrap;
	float: left;
	width:244px;
	background:#fff;
	margin:0;
	border:1px solid #ccc;
	text-align:left;
}
.file-area .customForm-fake-input em {
	font-style:normal;
}
.file-area .customForm-upload-button {
	float:right;
	border:solid #ccc;
	border-width:1px 1px 1px 0;
	background:#ececec;
	border-radius:0 4px 4px 0;
	height:34px;
	padding:7px 12px;
	font:14px/18px 'proximanovacond-bold', sans-serif;
	color:#5b6e71;
	text-transform:uppercase;
	width:72px;
	text-decoration:none !important;
}
.file-input-opacity {
	z-index: 100;
	position: absolute;
	height: 31px;
	line-height: 31px;
}